@import "../../styles/variables.css";

.label {
  display: block;
  margin-bottom: 12px;
  font-size: 16px;
  text-align: left;
  color: var(--colour-slate-700);
}

.input {
  height: 50px;
  padding: 4px 16px;
  border: 1px solid var(--colour-slate-500);
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.input:hover {
  border: 1px solid var(--colour-slate-900);
}

@media (hover: none) {
  .input:hover {
    border: 1px solid var(--colour-slate-500);
  }
}

.input:focus {
  border: 1px solid var(--colour-lime);
}
