@import "./styles/variables.css";

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

fieldset {
  border: none;
  padding: 0;
  margin: var(--spacing-300) 0;
}

fieldset label:last-of-type {
  margin-bottom: 0;
}

.heading-container {
  padding: 0 var(--spacing-300);
  text-align: left;
  margin-bottom: var(--spacing-300);
}

.form-container {
  padding: 0 var(--spacing-300);
  margin-bottom: 32px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: var(--spacing-100);
}

.results-placeholder {
  background-color: var(--colour-slate-900);
  color: var(--colour-white);
  padding: var(--spacing-400) var(--spacing-300);
}

.results-text {
  color: var(--colour-slate-300);
}

.monthly-payments-label {
  color: var(--colour-slate-300);
}

.total-payments-label {
  color: var(--colour-slate-300);
}

.monthly-payment {
  font-weight: bold;
  margin: 0;
  font-size: 56px;
  color: var(--colour-lime);
}

.total-payments {
  font-weight: bold;
  font-size: 24px;
}

.results-details-section {
  padding: var(--spacing-200) var(--spacing-300);
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.25);
}
